imap:
  username: 'phong@heatsynclabs.org'
  password: 'changeme'
  mailbox:  'inbox'
  server:   'imap.gmail.com'
  port:     993
  ssl:      true
mailing_list: 'heatsynclabs@googlegroups.com'
past_proposals:
- 'Test'
wiki:
  url: "http://wiki.heatsynclabs.org/w/api.php"
  template: "HYH Meeting Template"
  username: "Phong"
  password: "changeme"
